.search {
	width: 100%;
	height: 60px;
	background: var(--gray);
	border-radius: 15px;
	padding: 5px 8px 5px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;

	@media (max-width: 400px) {
		padding: 10px;
		height: 100%;
		flex-direction: column;
	}

	.icon {
		position: relative;
		top: 2px;
		right: 6px;

		@media (max-width: 400px) {
			display: none;
		}

		svg {
			width: 30px;
			height: 30px;
			fill: var(--primary);
		}
	}

	input {
		height: 45px;
		font-size: 20px;
		width: 80%;
		background: none;
		border: none;
		color: var(--white);
		letter-spacing: 1px;
		font-weight: 300;

		@media (max-width: 400px) {
			width: 100%;
		}

		&::placeholder {
			color: #b0b0b0;
		}
	}

	button {
		width: 120px;
		height: 45px;
		border-radius: 8px;
		border: none;
		font-size: 16px;
		background: rgb(8, 190, 198);
		background: linear-gradient(
			90deg,
			rgba(8, 190, 198, 1) 0%,
			rgba(0, 173, 181, 1) 100%
		);
		color: var(--white);
		letter-spacing: 1.2px;
		font-weight: 700;
		transition: all 0.4s;

		@media (max-width: 400px) {
			width: 100%;
		}

		&:hover {
			transition: all 0.4s;
			box-shadow: 0px 0px 10px var(--primary);
			cursor: pointer;
		}
	}
}
